.header-container {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  margin-top: 20px;
}

header {
  justify-content: center;
}

#lefttxt {
  text-align: right;
  font-size: 51px;
  margin-right: 0;
  text-indent: 0px;
}

#leftbox {
  width: 400px;
}

#handz {
  height: 150px;
  margin-top: 0;
  margin-left: 22px;
  margin-right: 22px;
}

#righttxt {
  text-align: left;
  font-size: 51px;
  margin-left: 0px;
  height: 0;
  text-indent: 0px;
}

#rightbox {
  width: 400px;
}

body {
  color: black;
  padding-left: 200px;
  padding-right: 200px;
  font-size: 1.5em;

  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  background-image: url("SMPTE_Color_Bars.svg.jpg");
  background-size: cover;
}

p {
  background-color: white;
  padding: 16px;
  text-indent: 50px;
}

.writinglink {
  color: #000000;
  background-color: #B4AFFF;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  margin: 20px;
  width: 200px;
  box-shadow: 4px 4px black;
}
.photolink {
  color: #000000;
  background-color: #FFB4AF;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  margin: 20px;
  width: 200px;
  box-shadow: 4px 4px black;
}

.writingbutton {
  color: #000000;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  margin: 80px auto;
  width: 300px;
  box-sizing: border-box;
  box-shadow: 4px 4px black;
}

#w1 {
  background-color: #B4AFFF;
}
#w1:hover {
  background-color: white;
}
#w2 {
  background-color: #FFB4AF;
}
#w2:hover {
  background-color: white;
}
#w3 {
  background-color: #AFFFB4;
}
#w3:hover {
  background-color: white;
}


a:link {
  text-decoration: none;
}
.photolink:hover {
  font-weight: bolder;
  background-color: white;
  color: black;
}

.writinglink:hover {
  font-weight: bolder;
  background-color: white;
  color: black;
}

.menu-container {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  margin-top: 0px;
}

#mybutt {
  position: fixed;
  background-color: white;
  padding: 20px;
  bottom: 20px;
  border-radius: 5px;
  left: 20px;
}
#mybutt:hover {
  background-color: black;
  color: white;
}

#resumestyle {
  color: #000000;
  background-color: #AFFFB4;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  margin: 15px auto;
  width: 440px;
  box-shadow: 4px 4px black;
}
#resumestyle:hover {
  background-color: white;
  color: black;
}

#webby {
  text-align: center;
  text-indent: 0px;
}
