@font-face {
  font-family: 'bebas';
  src: url('Bebas-Regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'roboto';
  src: url('Roboto-Light-webfont.woff') format('woff');
}

.header-container {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  margin-top: 20px;
  font-family: 'bebas';
}

#lefttxt {
  text-align: right;
  font-size: 51px;
  margin-right: 0;
  text-indent: 0px;
}

#leftbox {
  width: 400px;
}

.junk {

  color: #000000;
  background-color: #ababab;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  width: 200px;
  vertical-align: middle;
  box-shadow: 4px 4px black;
  background-color: #EBFFB1;


}

#handz {
  height: 150px;
  margin-top: 0;
  margin-left: 22px;
  margin-right: 22px;
}

#righttxt {
  text-align: left;
  font-size: 51px;
  margin-left: 0px;
  height: 0;
  text-indent: 0px;
}

#rightbox {
  width: 400px;
}

body {
  color: black;
  padding-left: 200px;
  padding-right: 200px;

  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
  background-image: url("SMPTE_Color_Bars.svg.jpg");
  background-size: cover;

  font-size: 1.5em;
}

p {
  background-color: white;
  padding: 16px;
  text-indent: 50px;
}

.topbutton {
  color: #000000;
  background-color: #B4AFFF;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  width: 196px;
  box-shadow: 4px 4px black;
}
.lefty {
  margin-right: 20px;
}
.righty {
  margin-left: 20px;
}
#writinglink {
  background-color: #B4AFFF;
}
#writinglink:hover {
  background-color: white;
}
#photolink {
  background-color: #FFB4AF;
}
#photolink:hover {
  background-color: white;
}

.writingbutton {
  color: #000000;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  width: 300px;
  box-sizing: border-box;
  box-shadow: 4px 4px black;
  font-family: 'roboto';
}

.sizelimit {
  width: 300px;
  margin: 70px auto;
}

#w1 {
  background-color: #B4AFFF;
}
#w1:hover {
  background-color: white;
}
#w2 {
  background-color: #FFB4AF;
}
#w2:hover {
  background-color: white;
}
#w3 {
  background-color: #AFFFB4;
}
#w3:hover {
  background-color: white;
}
#w4 {
  background-color: #EBFFB1;
}
#w4:hover {
  background-color: white;
}

#n1 {
  background-color: #C5B1FF;
}
#n1:hover {
  background-color: white;
}
#n2 {
  background-color: #FFB1C4;
}
#n2:hover {
  background-color: white;
}
#n3 {
  background-color: #EBFFB1;
}
#n3:hover {
  background-color: white;
}
#n4 {
  background-color: #B1FFEC;
}
#n4:hover {
  background-color: white;
}
#n5 {
  background-color: #B4AFFF;
}
#n5:hover {
  background-color: white;
}


a:link {
  text-decoration: none;
}
.photolink:hover {
  font-weight: bolder;
  background-color: white;
  color: black;
}

.junk:hover {
  font-weight: bolder;
  background-color: white;
  color: black;
}

.writinglink:hover {
  font-weight: bolder;
  background-color: white;
  color: black;
}

.menu-container {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  margin-top: 20px;
  font-family: 'roboto';
}

#mybutt {
  position: fixed;
  background-color: white;
  padding: 20px;
  bottom: 20px;
  border-radius: 5px;
  left: 20px;
}
#mybutt:hover {
  background-color: black;
  color: white;
}

#resumestyle {
  color: #000000;
  background-color: #AFFFB4;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  margin: 30px auto;
  width: 440px;
  box-shadow: 4px 4px black;
  font-family: 'roboto';
}
#sizelimitwide {
  width: 440px;
  margin: 0px auto;
}
#resumestyle:hover {
  background-color: white;
  color: black;
}

#webby {
  text-align: center;
  text-indent: 0px;
}
