* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'roboto';
  src: url('Roboto-Light-webfont.woff') format('woff');
}

body {
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  background-image: url("SMPTE_Color_Bars.svg.jpg");
  background-size: cover;
  font-family: 'roboto';
}

.menu {
  width: 800px;
  margin: 50px auto;
  display: flex;
  text-decoration: none;
  justify-content: center;
  font-size: 1.2em;
  flex: 1;
}

a:link {
  text-decoration: none;
}

.photobox {
  color: black;
  background-color: #C5B1FF;
  font-weight: bold;
  padding-top: 90px;
  text-align: center;
  border: 2px solid black;
  border-radius: 15px;
  width: 200px;
  height: 200px;
  margin-top: 15px;
  font-weight: bold;
  box-shadow: 4px 4px black;
}

.left {
  margin: 10px;
}
.right {
  margin: 10px;
}

#b1 {
  background-color: #C5B1FF;
}
#b1:hover {
  background-color: white;
  color: black;
}
#b2 {
  background-color: #FFB1C4;
}
#b2:hover {
  background-color: white;
  color: black;
}

#b3 {
  background-color: #EBFFB1;
}
#b3:hover {
  background-color: white;
  color: black;
}

#b4 {
  background-color: #B1FFEC;
}
#b4:hover {
  background-color: white;
  color: black;
}

#mybutt {
  position: fixed;
  background-color: white;
  padding: 20px;
  bottom: 20px;
  border-radius: 5px;
  left: 20px;
}
#mybutt:hover {
  background-color: black;
  color: white;
}

.three {
  display: flex;
  margin: 5px auto;

}
