body {
  background-color: white;
}

img {
  border: 2px;
  border-style: solid;
  max-width: 100%;
}

img {
  max-width: 100%;
}

.horizontal {
  width: 600px;
  display: flex;
  margin: 40px auto;
}
.vertical {
  width: 800px;
  display: flex;
  margin: 20px auto;
}

.singlevert {
  width: 400px;
  height: auto;
  display: flex;
  margin: 20px auto;
}

.vertleft {
  margin: 20px;
  width: 50%;
}
.vertright {
  margin: 20px;
  width: 50%;
}


#mybutt {
  position: fixed;
  background-color: white;
  padding: 20px;
  bottom: 20px;
  border-radius: 5px;
  left: 20px;
}
#mybutt:hover {
  background-color: black;
  color: white;
}
