.horizontal {
  width: 600px;
  display: flex;
  margin: 40px auto;
}
.vertical {
  width: 800px;
  display: flex;
  margin: 20px auto;
}
img {
  max-width: 100%;
}
.vertleft {
  margin: 20px;
}
.vertright {
  margin: 20px;
}
#mybutt {
  position: fixed;
  background-color: white;
  padding: 20px;
  bottom: 20px;
  border-radius: 5px;
  left: 20px;
}
#mybutt:hover {
  background-color: black;
  color: white;
}
