* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'roboto';
  src: url('Roboto-Light-webfont.woff') format('woff');
}

body {
background-position: center;
 background-repeat: no-repeat;
 height: 100%;
 background-image: url("SMPTE_Color_Bars.svg.jpg");
 background-size: cover;
 font-family: 'roboto';
}

.menu-container {
  margin: 50px auto;
  color: #fff;
  display: flex;
  width: 500px;
}

.menu {
  width: 800px;
 display: flex;
 text-decoration: none;
 justify-content: center;
 font-size: 1.2em;
}

a:link {
  text-decoration: none;
}

#reallyoldstuff {
  color: black;
  background-color: #C5B1FF;
  font-weight: bold;
  padding-top: 90px;
  text-align: center;
  border: 2px solid black;
  border-radius: 15px;
  margin: 20px;
  margin-right: 20px;
  width: 200px;
  box-sizing: border-box;
  height: 200px;
  font-weight: bold;
  box-shadow: 4px 4px black;
}
#reallyoldstuff:hover {
  background-color: white;
  color: black;
}
#favorites {
  color: black;
  background-color: #FFB1C4;
  font-weight: bold;
  padding-top: 90px;
  text-align: center;
  border: 2px solid black;
  border-radius: 15px;
  margin: 20px;
  width: 200px;
  height: 200px;
  font-weight: bold;
  box-shadow: 4px 4px black;
}
#favorites:hover {
  background-color: white;
  color: black;
}

#oldstuff {
  color: black;
  background-color: #EBFFB1;
  font-weight: bold;
  padding-top: 90px;
  text-align: center;
  border: 2px solid black;
  border-radius: 15px;
  margin: 20px;
  width: 200px;
  height: 200px;
  font-weight: bold;
  box-shadow: 4px 4px black;
}
#oldstuff:hover {
  background-color: white;
  color: black;
}

#newstuff {
  color: black;
  background-color: #B1FFEC;
  font-weight: bold;
  padding-top: 90px;
  text-align: center;
  border: 2px solid black;
  border-radius: 15px;
  margin: 20px;
  width: 200px;
  height: 200px;
  font-weight: bold;
  box-shadow: 4px 4px black;
}
#newstuff:hover {
  background-color: white;
  color: black;
}

#mybutt {
  position: fixed;
  background-color: white;
  padding: 20px;
  bottom: 20px;
  border-radius: 5px;
  left: 20px;
}
#mybutt:hover {
  background-color: black;
  color: white;
}
