h1 {
  text-align: center;
}
body {
  color: #414141;
  background-color: white;
  text-align: left;
  padding-left: 200px;
  padding-right: 200px;
  font-size: 1.5em;
}
p {
  background-color: white;
  padding: 16px;
  text-indent: 50px;
}
.writinglink {
  color: #FFF;
  background-color: #67C3FF;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 5px;
  margin: 20px;
  width: 200px;
  box-sizing: border-box;
}
.photolink {
  color: #FFF;
  background-color: #FF5252;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 5px;
  margin: 20px;
  width: 200px;
}

.writingbutton {
  color: #FFF;
  background-color: #67C3FF;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 5px;
  margin: 80px auto;
  width: 300px;
  box-sizing: border-box;
}
.writingbutton:hover {
  font-weight: bolder;
  background-color: white;
  color: black;
}

a:link {
  text-decoration: none;
}
.photolink:hover {
  font-weight: bolder;
  background-color: white;
  color: black;
}
.writinglink:hover {
  font-weight: bolder;
  background-color: white;
  color: black;
}

.menu-container {
  display: flex;
  justify-content: center;
}



#mybutt {
  position: fixed;
  background-color: white;
  padding: 20px;
  bottom: 20px;
  border-radius: 5px;
  left: 20px;
}
#mybutt:hover {
  background-color: black;
  color: white;
}

#resumestyle {
  color: #FFF;
  background-color: lightgreen;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 5px;
  margin: 15px auto;
  width: 440px;
}
#resumestyle:hover {
  background-color: white;
  color: black;
}

#webby {
  text-align: center;
  text-indent: 0px;
}
